*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(27, 27, 27);
    position: relative;
}
.contain{
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.time-contains{
    display: flex;
    flex-flow: column;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-top: 30px;
    height: 260px;
    width: 260px;
    border: 7px solid #3c5e7e;
    font-family: 'Montserrat','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 50%;
}
.min-con, .sec-con{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.min-text, .sec-text{
    color: rgba(255, 255, 255, 0.726);
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
}
.minutes_timer{
    font-size: 4.8rem;
    color: white;
}
.seconds_timer{
    color: white;
    font-size: 1.5rem;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
#start, #stop, #reset{
    margin: 2rem;
    padding: 1rem 2rem;
    color: aliceblue;
    background-color: #1f3142;
    border: 3px solid #28547e;
    border-radius: 25px;
    font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: background-color 0.2s ease-out, border 0.2s ease-out;
}
#start:hover, #stop:hover, #reset:hover{
    border-color: aliceblue;
    background-color: #243b50;
}
.clock-status{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -40px;
    left: 50%;
    transform: translate(-50%, 0%);
    right: 0;
    height: 2rem;
    width: fit-content;
    padding: 0px 10px 0px 2px;
    border: 2px solid #28547e;
    border-radius: 20px;
    background-color: #20354983;
    color: rgba(240, 248, 255, 0.644);
    font-size: 0.8rem;
    font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    background-color: #203549be;
    width: 25px;
    height: 25px;
    border: 2px solid #406e99;
    border-radius: 50%;
    transition: background-color 0.3s ease-out, border 0.3s ease-out;
}
.icon:hover{
    cursor: pointer;
    background-color: #34526ebe;
}
.icon-highlight{
    background-color: #34526ebe;
    border: 3px solid #ffffff;
}