*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(27, 27, 27);
    height: 100vh;
    position: relative;
}
.settings{
    position: absolute;
    top: 5%;
    left: 5%;
    color: #ffffff;
    font-family: 'Dosis', sans-serif;
    font-size: 1.3rem;
    cursor: pointer;
}
.settings_contain{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: #243b50;
    z-index: 2;
}
.close_settings{
    position: absolute;
    top: 5%;
    left: 5%;
    color: #ffffff;
    font-size: 2rem;
    cursor: pointer;
}
.settings_content{
    position: absolute;
    top: 12%;
    left: 8%;
}
.settings_label{
    color: #ffffff;
    font-family: 'Dosis', sans-serif;
    font-size: 3rem;
    margin-bottom: 10px;
}
.custom_time{
    background-color: #1d3244;
    border-radius: 10px;
    padding: 20px 15px;
}
.work_time, .break_time{
    display: flex;
    
}
.custom_time_label{
    color: #ffffff;
    font-weight: bold;
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
}
.custom_time_content{
    margin-top: 20px;
    display: flex;
    gap: 10px;
}
.work_and_break_time_label{
    display: flex;
    flex-flow: column;
    /* gap: 20px; */
    color: #ffffff;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}
.work_time_label, .break_time_label{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}
.set_work_and_break_time{
    display: flex;
    flex-flow: column;
    gap: 5px;
}
.set_work_time{
    color: #ffffff;
}
.custom_minutes, .custom_seconds{
    color: #ffffff;
}
.custom_time input{
    background-color: #15222e;
    border: none;
    border-radius: 5px;
    padding: 10px 5px;
    width: 6rem;
}
.custom_time input::placeholder{
    font-family: 'Dosis', sans-serif;
    color: #47525c;
}
.save{
    margin-top: 20px;
    padding: 15px 35px;
    background-color: #15222e;
    border: 2px solid rgba(255, 255, 255, 0.726);
    color: white;
    font-family: 'Dosis', sans-serif;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
}
.save:disabled{
    background-color: #353e47;
    color: rgb(180, 180, 180);
    border-color: #858585;
    pointer-events: none;
}
.contain{
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    align-self: flex-start;
}
.time-contains{
    display: flex;
    flex-flow: column;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-top: 30px;
    height: 276px;
    width: 276px;
    font-family: 'Dosis', 'Montserrat', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 50%;
    position: relative;
}
#svg{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}
.progress{
    transition: stroke-dashoffset 0.4s cubic-bezier(0.21, 0.46, 0.83, 1.31);
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    stroke-linecap: round;
}

.min-con, .sec-con{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    transform: translateY(0px) scale(1);
    transition: transform 0.4s;
}
.sec-con{
    color: rgb(122, 122, 122);
}

.minute-display{
    display: flex;
    justify-content: center;
    align-items: center;
}
.min-text, .sec-text{
    color: rgba(255, 255, 255, 0.726);
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    letter-spacing: 1px;
    padding: 10px 10px 2px 10px;
}
.min-text{
    border-bottom: 2px solid #28547e;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background: linear-gradient(to bottom, rgb(27, 27, 27), rgb(31, 44, 56) 70%, #28547e);
}
.sec-text{
    padding-top: 5px;
    color: rgb(122, 122, 122);
    font-size: 0.7rem;
    transform: scale(1);
    transition: transform 0.4s;
}
.minutes_timer, .separator, .minute-seconds{
    font-size: 4.8rem;
    color: white;
}
.seconds_timer{
    font-size: 1.5rem;
}

.min-transition{
    transform: translateY(110px) scale(0.45);
}
.min-transition .min-text{
    border: none;
    color: rgb(122, 122, 122);
    background: none;
    font-size: 1.3rem;
}
.min-transition .minutes_timer, .min-transition .minute-seconds, .min-transition .separator{
    color: rgb(122, 122, 122);
}
.sec-transition{
    color: rgb(255, 255, 255);
    transform: translateY(-110px) scale(2.6);
}
.sec-text-transition{
    transform: scale(0.4);
    color: rgb(255, 255, 255);
    font-size: 0.9rem;
    border-bottom: 2px solid #28547e;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background: linear-gradient(to bottom, rgb(27, 27, 27), rgb(31, 44, 56) 70%, #28547e);
}

.separator{
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 4.1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
#start, #stop, #reset{
    margin: 2rem;
    padding: 1rem 2rem;
    color: aliceblue;
    background-color: #1f3142;
    border: 3px solid #28547e;
    border-radius: 25px;
    font-family: 'Dosis', 'Montserrat', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.9rem;
    transition: background-color 0.2s ease-out, border 0.2s ease-out;
}
#start:active, #stop:active, #reset:active{
    border-color: aliceblue;
    background-color: #243b50;
    cursor: pointer;
}
#start:disabled, #stop:disabled{
    color: rgb(136, 136, 136);
    background-color: #353e47;
    border: 3px solid #37526b;
    pointer-events: none;
}
.clock-status{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 18%;
    left: 50%;
    transform: translate(-50%, 0%);
    right: 0;
    height: 2rem;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0px 10px 0px 2px;
    border: 2px solid #28547e;
    border-radius: 20px;
    background-color: #20354983;
    color: rgba(240, 248, 255, 0.644);
    font-size: 0.8rem;
    font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    background-color: #203549be;
    width: 25px;
    height: 25px;
    border: 2px solid #406e99;
    border-radius: 50%;
    transition: background-color 0.3s ease-out, border 0.3s ease-out;
    position: relative;
    font-family: 'Dosis', sans-serif;
}
.icon:active{
    cursor: pointer;
    background-color: #34526ebe;
}
.icon-highlight{
    background-color: #34526ebe;
    border: 3px solid #ffffff;
}
.info_desc_contain{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    background-color: #3d3d3d9f;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info_desc{
    position: relative;
    width: 450px;
    background-color: #d6d6d6;
    border: 1px solid transparent;
    border-radius: 10px;
    border-left: 9px solid #406e99;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10%;
}
.info_desc_close{
    position: absolute;
    top: 5px;
    right: 5px;
    height: 30px;
    width: 30px;
    background-color: #d6d6d6;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.info_desc_close:active{
    cursor: pointer;
}
.cross_line_1, .cross_line_2{
    height: 2px;
    width: 20px;
    background-color: #1f3142;
}
.cross_line_1{
    transform: rotateZ(45deg) translateY(1.5px);
}
.cross_line_2{
    transform: rotateZ(-45deg) translateY(-1.5px);
}
.info_desc_text{
    font-family: 'Dosis', 'Montserrat', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 4rem 1.6rem;
    font-weight: 700;
}
.none{
    display: none;
}

@media (max-width: 36rem){
    #start, #stop, #reset{
        margin: 2rem 0 0 0;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        font-size: 18px;
        padding: 0.5rem 0.5rem;
    }
    #stop{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    .clock-status{
        bottom: 10%;
    }
    .settings{
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-55%, 0%);
        color: #ffffff;
        font-family: 'Dosis', sans-serif;
        font-size: 1.3rem;
        cursor: pointer;
    }
    .custom_time{
        width: 85vw;
    }
    .custom_time_content{
        flex-flow: column;
    }
    .work_and_break_time_label{
        display: flex;
        flex-flow: row;
        justify-content: space-between;
    }
    .set_work_and_break_time{
        flex-flow: row;
        justify-content: space-between;
    }
    .custom_time input{
        width: 3.5rem;
    }
    .set_break_time input{
        width: 5.5rem;
    }
}
@media (max-height: 40rem){
    .clock-status{
        bottom: 5%;
    }
}
@media (hover:hover) {
    #start:hover, #stop:hover, #reset:hover{
        border-color: aliceblue;
        background-color: #243b50;
        cursor: pointer;
    }
    .icon:hover{
        cursor: pointer;
        background-color: #34526ebe;
    }
    .info_desc_close:hover{
        cursor: pointer;
    }
    .save:hover{
        cursor: pointer;
    }
}